/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root {
    --color-background: #f2f2f2;
    --card-width: 400px;
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-background)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
}

.card {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--card-width);
    background-color: var(--color-white);
    border-radius: 25px;
}



.card__image img {
    width: 100%;
    border-radius: 25px;
}

.card__body {
    width: 350px;
}

.card__body h1,
p {
    text-align: center;
}

.card__body h1 {
    font-size: 28px;
    color: var(--color-dark-blue);
}

.card__body p {
    font-size: 18px;
    color: var(--color-grayish-blue);
}